* {
    color: rgb(2, 245, 83);
}

body {
    background-image: url("bg.jfif");
    background-color: #cccc99;
}

p {
    font-size: 1.5em;
    border-style: solid;
    border-color: Black;
    border-width: 2mm;
    width: 500px;
}

div {
    width: 50%;
    font-size: medium;
}